#include "wav50.dtsi"

/ {
    bootloader_key: bootloader_key {
        compatible = "zmk,boot-magic-key";
        key-position = <11>;
        jump-to-bootloader;
    };
};

&default_transform {
    col-offset = <7>;
};

&i2c0 {
    status = "okay";

    trackpad: maxtouch@4a {
        compatible = "microchip,maxtouch";
        status = "okay";
        reg = <0x4a>;
        chg-gpios = <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        sensor-width = <42>;
        sensor-height = <50>;
        touch_threshold = <12>;
        touch_hysteresis = <5>;
        gain = <8>;
        active-acq-time-ms = <10>;
        idle-acq-time-ms = <32>;
        repeat-each-cycle;
    };
};

/ {
    trackpad_listener {
        compatible = "zmk,input-listener";
        device = <&trackpad>;
    };
};

&right_encoder {
    status = "okay";
};
