# Right side is central (PS/2 TrackPoint is on the right)
if SHIELD_wav50hz_RIGHT

config ZMK_KEYBOARD_NAME
    default "Wav50hz"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_wav50hz_RIGHT

if SHIELD_wav50hz_LEFT || SHIELD_wav50hz_RIGHT

config ZMK_SPLIT
    default y

config SPI
    default y

config ZMK_RGB_UNDERGLOW
    select WS2812_STRIP
    select SPI

endif # SHIELD_wav50hz_LEFT || SHIELD_wav50hz_RIGHT
