# SPDX-License-Identifier: MIT

if BOARD_COSMOS_LEMON_WIRELESS

config BOARD
    default "cosmos_lemon_wireless"

config ZMK_USB
    default y if !ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL

config USB_NRFX
    default y

config BT_CTLR
    default BT

endif # BOARD_COSMOS_LEMON_WIRELESS
