# Right side is central (for Procyon trackpad support)
if SHIELD_cosmotyl_RIGHT

config ZMK_KEYBOARD_NAME
    default "Fluxwav 50hz"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_cosmotyl_RIGHT

if SHIELD_cosmotyl_LEFT || SHIELD_cosmotyl_RIGHT

config ZMK_SPLIT
    default y

config SPI
    default y

config I2C
    default y

config ZMK_RGB_UNDERGLOW
    select WS2812_STRIP
    select SPI

endif # SHIELD_cosmotyl_LEFT || SHIELD_cosmotyl_RIGHT
